<template>
  <div class="card flex align-items-center mt-5">
    <DetailsComponent />
  </div>
</template>


<script>
import DetailsComponent from "../components/Details/DetailsComponent.vue";
export default {
  components: {
    DetailsComponent,
  },
  setup() {},
};
</script>
