<template>
  <div class="card flex align-items-center mt-5">
    <TableComponent />
  </div>
</template>


<script>
import TableComponent from "../components/Home/TableComponent.vue";
export default {
  components: {
    TableComponent,
  },
  setup() {},
};
</script>
