<template>
  <!-- <Header /> -->

  <div class="card">
    <ParticlesComponent />
    <div
      class="
        flex flex-wrap
        align-items-center
        justify-content-center
        card-container
      "
    >
      <form @submit.prevent="login(!v$.$invalid)" class="p-fluid">
        <Card style="width: 25rem" class="mt-5">
          <template #title> Inicia Sesión </template>
          <template #content>
            <div class="field">
              <label for="email">Correo</label>
              <br />
              <InputText
                id="email"
                v-model="v$.email.$model"
                :class="{ 'p-invalid': v$.email.$invalid && error }"
              />
              <br />
              <small v-if="v$.email.$invalid && error" class="p-error"
                >Correo es requerido.</small
              >
            </div>

            <div class="field">
              <label for="password">Contraseña</label>
              <br />
              <Password
                id="password"
                :feedback="false"
                v-model="v$.password.$model"
                :class="{ 'p-invalid': v$.password.$invalid && error }"
                toggleMask
              />
              <br />
              <small v-if="v$.password.$invalid && error" class="p-error"
                >Contraseña es requerido.</small
              >
            </div>

            <Button
              label="Ingresar"
              class="p-button-info"
              type="submit"
              :loading="submitted"
            />

            <p>
              ¿No tienes una cuenta?
              <router-link :to="{ name: 'registrarse' }"
                >Registrarme</router-link
              >
            </p>
          </template>
        </Card>
      </form>
    </div>
  </div>
</template>

<script>
import Card from "primevue/card";
import Password from "primevue/password";
import ParticlesComponent from "./ParticlesComponent.vue";

import useLogin from "../composables/useLogin";

export default {
  components: {
    ParticlesComponent,
    Card,
    Password,
  },
  setup() {
    const { v$, submitted, login, error } = useLogin();

    return {
      v$,
      submitted,
      login,
      error,
    };
  },
};
</script>
