<template>
  <div class="particles">
    <vue-particles color="#000000" linesColor="#000000"> </vue-particles>
  </div>
</template>

<style scoped>
.particles {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: -1;
}
</style>