<template>
  <!-- <Header /> -->

  <div class="card">
    <ParticlesComponent />
    <div
      class="
        flex flex-wrap
        align-items-center
        justify-content-center
        card-container
      "
    >
      <form @submit.prevent="registerNewUser(!v$.$invalid)" class="p-fluid">
        <Card style="width: 25rem" class="mt-5">
          <template #title> Registrate </template>
          <template #content>
            <div class="field">
              <label for="name">Nombre</label>
              <br />
              <InputText
                id="name"
                v-model="v$.name.$model"
                :class="{ 'p-invalid': v$.name.$invalid && error }"
              />
              <br />
              <small v-if="v$.name.$invalid && error" class="p-error"
                >Nombre es requerido.</small
              >
            </div>

            <div class="field">
              <label for="age">Edad</label>
              <br />
              <InputMask
                id="age"
                mask="99"
                v-model="v$.age.$model"
                :class="{ 'p-invalid': v$.age.$invalid && error }"
              />
              <br />
              <small v-if="v$.age.$invalid && error" class="p-error"
                >Edad es requerido.</small
              >
            </div>

            <div class="field">
              <label for="gender">Sexo</label>
              <br />
              <SelectButton
                id="gender"
                v-model="v$.gender.$model"
                :options="options"
              />
            </div>

            <div class="field">
              <label for="email">Correo</label>
              <br />
              <InputText
                id="email"
                v-model="v$.email.$model"
                :class="{ 'p-invalid': v$.email.$invalid && error }"
              />
              <br />
              <small v-if="v$.email.$invalid && error" class="p-error"
                >Correo es requerido.</small
              >
            </div>

            <div class="field">
              <label for="password">Contraseña</label>
              <br />
              <Password
                id="password"
                v-model="v$.password.$model"
                toggleMask
                :class="{ 'p-invalid': v$.password.$invalid && error }"
              />
              <br />
              <small v-if="v$.password.$invalid && error" class="p-error"
                >Contraseña es requerido.</small
              >
            </div>

            <Button
              :loading="submitted"
              type="submit"
              label="Ingresar"
              class="p-button-info"
            />

            <p>
              ¿Tienes una cuenta?
              <router-link :to="{ name: 'login' }">Inicia Sesión</router-link>
            </p>
          </template>
        </Card>
      </form>
    </div>
  </div>
</template>

<script>
import Card from "primevue/card";
import Password from "primevue/password";
import ParticlesComponent from "./ParticlesComponent.vue";
import SelectButton from "primevue/selectbutton";

import useRegister from "../composables/useRegister";

export default {
  components: {
    ParticlesComponent,
    Card,
    Password,
    SelectButton,
  },
  setup() {
    const { items, options, v$, submitted, registerNewUser, error } =
      useRegister();

    return {
      items,
      options,
      v$,
      submitted,
      registerNewUser,
      error,
    };
  },
};
</script>

