<template>
  <DataTable
    :value="products"
    dataKey="id"
    :paginator="true"
    :rows="10"
    :filters="filters"
    paginatorTemplate="CurrentPageReport  PrevPageLink PageLinks NextPageLink  RowsPerPageDropdown"
    :rowsPerPageOptions="[10, 20, 30]"
    currentPageReportTemplate="Mostrando {last} de {totalRecords} productos"
    responsiveLayout="scroll"
    stripedRows
    removableSort
    class="p-datatable-sm"
    style="width: 100%"
  >
    <template #header>
      <div
        class="
          table-header
          flex flex-column
          md:flex-row md:justiify-content-between
        "
      >
        <h3 class="mb-2 md:m-0 p-as-md-center">Mis Productos</h3>
        <span class="p-input-icon-left">
          <Button
            icon="pi pi-wallet"
            class="p-button-success"
            @click="buyProducts"
            label="Comprar Productos"
            :disabled="$store.state.client.totalDifferentProducts == 0"
            :loading="loading"
          />
        </span>
      </div>
    </template>

    <template #empty> No se encontraron resultados. </template>

    <Column
      v-for="col of columns"
      :field="col.field"
      :header="col.header"
      :key="col.field"
      :sortable="true"
    >
      <template v-if="col.field == 'path_img'" #body="slotProps">
        <img
          :src="slotProps.data.path_img"
          :alt="slotProps.data.path_img"
          class="product-image"
        />
      </template>
    </Column>
    <Column
      :exportable="false"
      style="max-width: 5rem"
      header="Comprar Productos"
    >
      <template #body="slotProps">
        <div class="p-inputgroup">
          <Button
            :disabled="
              !slotProps.data.stock ||
              ($store.state.client.numProducts.length > 0 &&
                $store.state.client.numProducts[
                  $store.state.client.numProducts.findIndex(
                    (elem) => elem.id === slotProps.data.id
                  )
                ].cantidad <= 1)
            "
            icon="pi pi-minus"
            class="p-button-danger"
            @click="removeProduct(slotProps.data.id)"
          />
          <InputNumber
            :value="
              $store.state.client.numProducts.length > 0 &&
              $store.state.client.numProducts[
                $store.state.client.numProducts.findIndex(
                  (elem) => elem.id === slotProps.data.id
                )
              ].cantidad
            "
            mode="decimal"
            disabled
          />
          <Button
            icon="pi pi-plus"
            class="p-button-success"
            @click="addProduct(slotProps.data.id)"
            :disabled="
              !slotProps.data.stock ||
              ($store.state.client.numProducts.length > 0 &&
                $store.state.client.numProducts[
                  $store.state.client.numProducts.findIndex(
                    (elem) => elem.id === slotProps.data.id
                  )
                ].cantidad >= slotProps.data.stock)
            "
          />
        </div>
      </template>
    </Column>
  </DataTable>
</template>

<script>
import { onMounted } from "vue";
import useHome from "../../composables/useDetails";
export default {
  setup() {
    const {
      getProductsByIds,
      products,
      columns,
      Swal,
      filters,
      addProduct,
      removeProduct,
      scstore,
      buyProducts,
      loading,
    } = useHome();

    onMounted(async () => {
      new Swal({
        title: "Cargando mi carrito...",
        allowOutsideClick: false,
      });
      Swal.showLoading();
      const dfProducts = scstore.state.client.differentProducts;
      const { ok, message, product } = await getProductsByIds(dfProducts);
      if (!ok) return Swal.fire("Error", message, "error");
      else Swal.close();
      products.value = [...product];
    });

    return {
      products,
      columns,
      filters,
      addProduct,
      removeProduct,
      buyProducts,
      loading,
    };
  },
};
</script>

<style scoped>
.product-image {
  width: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 960px) {
    align-items: start;
  }
}
</style>