<template>
  <DataView
    :value="products"
    dataKey="id"
    :paginator="true"
    :rows="10"
    paginatorTemplate="CurrentPageReport  PrevPageLink PageLinks NextPageLink  RowsPerPageDropdown"
    :rowsPerPageOptions="[10, 20, 30]"
    currentPageReportTemplate="Mostrando {last} de {totalRecords} productos"
    class="p-datatable-sm"
    style="width: 100%"
    :layout="layout"
  >
    <template #header>
      <div class="grid grid-nogutter">
        <div style="text-align: right">
          <DataViewLayoutOptions v-model="layout" />
        </div>
      </div>
    </template>

    <template #empty> No se encontraron resultados. </template>

    <template #list="slotProps">
      <div class="col-12">
        <div class="product-list-item">
          <img :src="slotProps.data.path_img" :alt="slotProps.data.name" />
          <div class="product-list-detail">
            <div class="product-name">{{ slotProps.data.name }}</div>
            <div class="product-description">
              {{ slotProps.data.description }}
            </div>
          </div>
          <div class="product-list-action">
            <span class="product-price">${{ slotProps.data.price }}</span>
            <Button
              v-if="slotProps.data.stock > 0"
              icon="pi pi-shopping-cart"
              @click="addDifferentProduct(slotProps.data.id)"
              :disabled="
                $store.state.client.differentProducts.find(
                  (element) => element == slotProps.data.id
                )
              "
            />
            <span v-else><b>Sin stock </b></span>
          </div>
        </div>
      </div>
    </template>

    <template #grid="slotProps">
      <div class="col-12 md:col-3">
        <div class="product-grid-item card">
          <div class="product-grid-item-content">
            <img :src="slotProps.data.path_img" :alt="slotProps.data.name" />
            <div class="product-name">{{ slotProps.data.name }}</div>
            <div class="product-description">
              {{ slotProps.data.description }}
            </div>
          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">${{ slotProps.data.price }}</span>
            <Button
              v-if="slotProps.data.stock > 0"
              icon="pi pi-shopping-cart"
              @click="addDifferentProduct(slotProps.data.id)"
              :disabled="
                $store.state.client.differentProducts.find(
                  (element) => element == slotProps.data.id
                )
              "
            />
            <span v-else><b>Sin stock </b></span>
          </div>
        </div>
      </div>
    </template>
  </DataView>
</template>

<script>
import { onMounted } from "vue";
import DataView from "primevue/dataview";
import DataViewLayoutOptions from "primevue/dataviewlayoutoptions";
import useHome from "../../composables/useHome";
export default {
  components: {
    DataView,
    DataViewLayoutOptions,
  },
  setup() {
    const {
      getProducts,
      products,
      Swal,
      layout,
      addDifferentProduct,
      numDifferentProducts,
    } = useHome();

    onMounted(async () => {
      new Swal({
        title: "Cargando productos...",
        allowOutsideClick: false,
      });
      Swal.showLoading();
      const { ok, message, product } = await getProducts();
      if (!ok) return Swal.fire("Error", message, "error");
      else Swal.close();
      products.value = [...product];
    });

    return {
      products,
      Swal,
      layout,
      addDifferentProduct,
      numDifferentProducts,
    };
  },
};
</script>

<style lang="scss" scoped>
.card {
  background: #ffffff;
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}
.p-dropdown {
  width: 14rem;
  font-weight: normal;
}

.product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description {
  margin: 0 0 1rem 0;
}

.product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.product-category {
  font-weight: 600;
  vertical-align: middle;
}

::v-deep(.product-list-item) {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;

  img {
    width: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
  }

  .product-list-detail {
    flex: 1 1 0;
  }

  .p-rating {
    margin: 0 0 0.5rem 0;
  }

  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
  }

  .product-list-action {
    display: flex;
    flex-direction: column;
  }

  .p-button {
    margin-bottom: 0.5rem;
  }
}

::v-deep(.product-grid-item) {
  margin: 0.5rem;
  border: 1px solid var(--surface-border);

  .product-grid-item-top,
  .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
  }

  .product-grid-item-content {
    text-align: center;
  }

  .product-price {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media screen and (max-width: 576px) {
  .product-list-item {
    flex-direction: column;
    align-items: center;

    img {
      margin: 2rem 0;
    }

    .product-list-detail {
      text-align: center;
    }

    .product-price {
      align-self: center;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .product-list-action {
      margin-top: 2rem;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}
</style>