<template>
  <div>
    <Menubar :model="items">
      <template #start> <h3>Columbus Test</h3> </template>
      <template #item="{ item }">
        <li
          class="mr-4 p-text-secondary"
          v-badge="$store.state.client.totalDifferentProducts"
          v-if="item.label == 'Carrito'"
        >
          <a :href="item.to" class="p-menuitem-link" role="menuitem">
            <span class="p-menuitem-icon" :class="item.icon"></span>
            <span class="p-menuitem-text">{{ item.label }}</span>
          </a>
        </li>
        <li role="none" class="p-menuitem" v-if="item.label == 'Inicio'">
          <a :href="item.to" class="p-menuitem-link" role="menuitem">
            <span class="p-menuitem-icon" :class="item.icon"></span>
            <span class="p-menuitem-text">{{ item.label }}</span>
          </a>
        </li>
        <Button
          v-if="item.label == 'Salir'"
          class="p-button-danger p-button-text"
          :label="item.label"
          @click="item.command"
          :icon="item.icon"
        >
        </Button>
      </template>
      <template #end>
        <b> {{ $store.state.auth.user.name }}</b>
      </template>
    </Menubar>
    <router-view />
  </div>
</template>

<script>
import Menubar from "primevue/menubar";

import { useStore } from "vuex";
import { useRouter } from "vue-router";

import { ref } from "vue";

export default {
  components: {
    Menubar,
  },
  setup() {
    const router = useRouter();
    const store = useStore();

    const items = ref([
      {
        label: "Inicio",
        icon: "pi pi-home",
        to: "/#/client",
      },
      {
        label: "Carrito",
        icon: "pi pi-shopping-cart",
        to: "/#/client/details",
      },
      {
        label: "Salir",
        icon: "pi pi-sign-out",
        command: () => {
          router.push({ name: "login" });
          store.commit("client/onLogOut");
          store.commit("auth/logout");
        },
      },
    ]);

    return {
      items,
    };
  },
};
</script>

<style>
</style>